*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
nav{
    background-color: rgb(48, 46, 46);
    color: white;
    width: 100%;
    height: 60px;
    overflow: hidden;
}
.fa.fa-camera{
    display: none;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 60px;
    padding: 0 50px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 5px;
}nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: 1s;
  }
img{
    height: 600px;
    width: 100%;
    
}
.nav-top{
    display: none;
}

.top-text{
    margin: 50px;
    color: white;
    position: relative;
    bottom: 640px;
    width: 500px;
    margin-bottom: -290px;
}
.top-text h1{
    font-size: 44px;
    margin-bottom: 30px;
}
.top-text p{
    font-size: large;
}
.drop{
    display: none;
}
.one-left{
    position: relative;
    margin: 30px;
    width: 600px;
    float: left;
    color: rgb(255, 255, 255);
    text-align: left;
}
.one-left img{
    border-radius: 15px;
}
.one-left-text{
    position: absolute;
    bottom: 35px;
    width: 80%;
    margin: 20px;
}
.one-left-text h2{
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 30px;
}
.one-left-text p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    margin-bottom: 40px;
}
.one-left-text a{
    color: rgb(59, 179, 55);
    border: 2px solid rgb(59, 179, 55);
    border-radius: 75px;
    padding: 10px;
    font-size: larger;
    padding-left:35px;
    padding-right:35px;
}
.one-left-text a:hover{
    background-color: rgb(59, 179, 55);
    color: black;
    border: 2px solid black;
}
.one-right{
    margin: 30px;
    float: right;
    width: 700px;
    text-align: left;
}
.one-right h2{
    color: #5f5b8b;
    font-size: 24px;
    
}
.one-right p{
    color: #5f5b8b;
    font-size: 18px;
    margin: 20px 0 20px 0;
}
.one-right-text{
    margin-bottom: 30px;
}
.one-right-text a{
    color: rgb(59, 179, 55);
    border: 2px solid rgb(59, 179, 55);
    border-radius: 75px;
    padding: 10px;
    font-size: larger;
    margin-bottom: 10px;
    padding-left:35px;
    padding-right:35px;
}
.one-right-text a:hover{
    background-color: rgb(59, 179, 55);
    color: white;
    border:1px solid rgb(0, 0, 0);
}
.one-right img{
    width: 300px;
    height: 360px;
    border-radius: 15px;
    margin-right: 20px;
}


.section-two{
    text-align: center;
}
.two-text{
    margin: 50px;

}
.two-text p{
    font-size: large;
}
hr{
    color: solid black;
    background-color: grey;
    height: 5px;
    size: 15px;
    width: 100%;
}
.section-two img{
    width: 20%;
    height: 400px;
    border-radius: 5px;
}
footer{
    margin-top: 50px;
    
    background-color: black;
    width: 100%;
    height: 400px;
    padding: 50px;
}
.foot-left{
    float: left;
    margin: 40px;
    width: 600px;
    text-align: center;
}
.foot-left h1{
    color: #39FF14;
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.foot-left p{
    color: white;
}
.foot-right{
    float: right;
    margin: 40px;
    width: 600px;
    text-align: center;
}
.foot-right h2{
    color: #39FF14;
    margin-bottom: 30px;
}
.foot-right p{
    color: white;
}
.subs{
    margin-top: 10px;
}
.subs input{
    height: 40px;
    margin-right: -5px;
}
.subs button{
    height: 40px;
    background-color: #39FF14;
    font-weight: bold;
}

.copyright{
    color: white;
    text-align: center;
    margin-top: 20px;
}
@media (max-width:1460px){
    .foot-left{
        margin: 0;
        width: 400px;
    }
    .foot-right{
        margin: 0;
        width: 400px;
    }
}
@media (max-width:1421px){
    .one-left{
        position: relative;
        width: 90%;
        margin-left: 40px;
    }
    .one-left img{
        width: 100%;
    }
    .one-right{
        position: relative;
        width: 90%;
        
    }
    .one-right img{
        width: 45%;
    }
    .quote{
        float: left;
    }
    
}
@media (max-width:902px){
    .foot-left{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .foot-right{
        
        width: 100%;
        float: none;
    }
    footer{
        height: fit-content;
    }
    .section-two img{
        width: 40%;
    }
}
@media screen and (max-width:832px) {
    nav ul li{
        margin: 0 2px;
    }
    nav ul li a{
        padding: 5px 1px;
        font-size: 16px;
    }
    .top-text{
        width: 80%;
        height: 250px;
    }
    .top-text h1{
        font-size: 30px;
    }
    .top-text p{
        font-size: 16px;
    }
    .drop{
        display: block;
        float: right;
        line-height: 30px;
        margin: 15px;
        width: 150px;
        height: 30px;
        border-radius: 5px;
        
    }
}
@media (max-width:604px){
    nav ul{
        width: auto;
    }
    .one-left{
        width: 85%;
        margin-left: 30px;
    }
    .one-right{
        margin-left: 30px;
        width: 80%;
        float: left;
        text-align: center;
    }
    .one-right img{
        width: 90%;
    }
    label.logo{
        font-size: 20px;
        margin: none;
    }
    .top-text h1{
        font-size: 20px;
        
    }
    .top-text p{
        font-size: 14px;
    }
    .two-text h1{
        font-size: 20px;
    }
    .section-two img{
        width: 60%;
        height: auto;
    }
    .one-left-text h2{
        font-size:24px;
    }
    .one-left-text p{
        font-size: 14px;
    }
    .drop{
        width: auto;
    }
}
@media (max-width:500px){
    label.logo{
        font-size: 16px;
    }
    
    nav ul li a{
        width: 50%;
        font-size: 11px;
    }
    
    .foot-left h1{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .foot-left p{
        font-size: 12px;
    }
    .foot-right h2{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .foot-right p{
        font-size: 12px;
    }
    .subs input{
        height: 20px;
    }
    .subs button{
        height: 20px;
    }
    .copyright{
        font-size: 10px;
    }
    .drop{
        width: 20px;

    }
    .drop a option{
        width: 10px;
        font-size: 10px ;
    }
}
@media (max-width:400px){
    label.logo{
        display: none;
    }
    .fa.fa-camera{
        display: inline-block;
        margin: 20px;
        font-size: 20px;
        line-height: 25px;
    }
    nav ul li a{
        font-size: 8px;
    }
    .top-text{
        
        margin-left: 20px;
        
    }
}